.lesson-button {
  margin: 15px 5px;
  font-size: 18px;
  font-weight: 600;
  width: 12rem;
  height: 2.2rem;
  border: none;
  background-color: rgb(154, 126, 255);
  border-radius: 4px;
  color: white; 
  outline: none;
  &:active {
    background-color: rgb(184, 184, 184);
    transform: translateY(2px);
  }
}