.challenge-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .trophy-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 300px;


    .trophy-image{
      height: 180px;
      -webkit-animation: slideInFromLeft 2s forwards;
      -moz-animation: slideInFromLeft 2s forwards;
      animation: slideInFromLeft 2s forwards;
    }
    .trophy-text {
      font-size: 25px;
      font-weight: 600;
      color: rgb(70, 64, 87);
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      animation: fadeIn 3s forwards;
    }
  }

}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInFromLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}