.back-button {
    margin: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    width: 13rem;
    height: 2.2rem;
    background-color:rgb(154, 126, 255);
    border: none;
    border-radius: 4px;
    color: white;
    outline: none;
  }