.NavBar {
  background-color: rgb(238, 234, 255);
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.368);

  .logo-container {
    .logo {
      height: 55px;
    }
  }
  .avatar {
    height: 3rem;
  }
  .right-container {
    margin-left: auto;

    .dropdown {
      .dropdown-item {
        margin: 1em 0.2em; 
        font-size: 0.7 rem;     
        font-weight: 500;
      }
      :after {
        content: none;
      }
    }
  }
}