.NavBar {
  background-color: rgb(238, 234, 255);
  height: 70px;
  display: flex;
  justify-content: space-between;

  .logo-container {
    .logo {
      height: 55px;
    }
  }

  .avatar {
    height: 40px;
  }

  .right-container {
    margin-left: auto;
    
    .dropdown {
      :after {
        content: none;
      }
    }
  }
}