.NavBar {
  background-color: rgb(238, 234, 255);
  height: 70px;
  display: flex;
  justify-content: space-between;

  .logo-container {
    .logo {
      height: 55px;
    }
  }

  .avatar {
    height: 40px;
  }

  .right-container {
    margin-left: auto;


    
    .dropdown {
      

      .dropdown-item {
        margin: 0.3em; 
        font-size: 0.5 rem;     
        font-weight: 500;
      }
      .divider {
        width: 100%;
        height: 0.4rem;
      }
      :after {
        content: none;
      }
    }
  }
}