.NumberSinoPage {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  text-align: center;

  .lesson-button {
    margin: 15px 5px;
    font-weight: 800;
    font-size: 14px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: rgb(154, 126, 255);
    border-radius: 4px;
    color: white; 
    outline: none;
    &:active {
      background-color: rgb(184, 184, 184);
      transform: translateY(2px);
    }
  }

}