@import "~bootstrap/scss/bootstrap";

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(55, 55, 55);
  &:hover {
    text-decoration: none;
    color: rgb(55, 55, 55);
  }
  }