html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  overflow-y: scroll;
}

.sidebar , .main {
  height: 100vh;
}

.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
}

.lesson-number{
  text-align: center;
  color: rgb(209, 26, 2);
  font-size: 1.6em;
}

.lesson-title {
  font-size: 1.9em;
  font-family: serif;
}

.choice{
  margin: 5px;
  }

.check-symbol{
  margin-left: 5px;
}

.question-block{
  margin-top:20px;
}

.question{
  margin-left: 10px;
  margin-top: 10px;
}