.challenge-button {
  button {
    margin: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    width: 13rem;
    height: 2.2rem;
    background-color:rgb(79, 111, 255);
    border: none;
    border-radius: 4px;
    color: white;
    outline: none;
    &:active {
      background-color: rgb(184, 184, 184);
      transform: translateY(2px);
    }
  }
}