.HomePage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .header {
    margin: 20px 0 50px 0;
    text-align: center;
    font-size: 30px;
  }

  .get-started-button, .sign-in-button {
    border-radius: 5px;
    margin: 10px 0;
    width: 150px;
    justify-self: center;
    background-color: rgb(61, 46, 197);
    border: none;
  }

}